# MongoDB Configuration

# Main Database
MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=restropulse

# Test Database
MONGODB_TEST_DATABASE=restropulse-test

# Optional: MongoDB Atlas connection string
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
